body {
    text-align: center;
    margin: 0;
    background: linear-gradient(to bottom, #8DECB4, #41B06E);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #141E46;
    width: 30%;
    border-width: 5px;
}

.KCL_table {
    margin: 0 auto 0;
    border: 3px solid #141E46;
    border-spacing: 10px;
    text-align: start;
}

.info_table {
    margin: 0 auto 0;
    text-align: start;
}

h3 {
    color: #41B06E;
}

a {
    color: #41B06E;
}

.description {}

.member {
    margin: 2px auto 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #141E46;
    width: 300px;
    height: 100%;
}

.webpage_heading {
    margin-top: 100px;
    margin-bottom: 50px;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.icons {
    height: 3.0rem;
}